@charset "utf-8";

@media (max-width:500px){
    /* slider */
    #slider {
        width: 100%; 
        /* overflow: hidden; */
        padding-top:65px;
    }

    #slider video {
        width:100%;
    }

    /* product */
    #new-allbox {
        width: 100%;
        height: 840px;
    }

    .new {
        width: 100%;
        height: 840px;
        margin: 0 auto;
        position: relative;
        top: 30px;
    }

    .new h2 {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 8px;
        text-indent: 8px;
    }

    .new h2:after {
        content: "";
        width: 272px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
    }

    .new-text {
        margin: 5% 2%;
        text-align: left;
    }

    .new-text>h3 {
        font-size: 2rem;
    }

    .new-text>p {
        font-size: 1.5rem;
        padding-top: 5px;
    }

    .pro_box:hover:after {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

    .pro_box:hover:before {
        content: "";
        width: 16vw;
        height: 40vh;
        background-color: #c40f39;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    /* diary */
    .diarybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left:5%;
    }

    .diary-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/2023diary.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* blackbunny */
    .bunnybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 280px;
        left: 24%;
    }

    .bunny-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/153blackbunny.png) 50% 50%/cover no-repeat;
        position: relative;
    }
    .bunnybox .product-text{
        width:80%;
    }

    /* hey brother */
    .heybrobox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left: 43%;
    }

    .heybro-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/hey-brother.png) 45% 50%/cover no-repeat;
        position: relative;
    }
    .heybrobox .product-text p{
        width:80%;
    }

    /* 153그리퍼 */
    .grifferbox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 280px;
        left: 61.5%;
    }

    .griffer-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/153griffer.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* 럭키박스 */
    .luckybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left: 80%;
    }

    .lucky-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/luckyset.png) 50% 50%/cover no-repeat;
        position: relative;
    }
    .luckybox .product-text{
        width:93%;
    }


    /* best product */
    #best-allbox {
        width: 100%;
        height: 920px;
        background-color: #f1f1f1;
    }

    .best-first {
        width: 100%;
        height: 280px;
        margin: 0 auto;
        position: relative;
    }

    .best-first>h2, .best-first>p {
        text-align: center;
    }

    .best-first>h2 {
        font-size: 2.5rem;
        padding: 35px 0;
        letter-spacing: 8px;
        text-indent: 8px;
    }

    .best-first>h2:after {
        content: "";
        width: 270px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 85px;
        left:50%;
        transform: translateX(-50%);
    }

    .best-first>p {
        font-size: 1.5rem;
    }

    .penname-list {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }

    .penname-list li {
        width: 170px;
        height: 42px;
        margin: 2%;
        text-align: center;
        border: 3px solid #ccc;
        cursor: pointer;
    }

    .penname-list li a {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 39px;
        color: #222;
    }

    .penname-list li a.redtext {
        color: #c40f39;
        font-weight: bold;
    }

    .penname-list li.redline {
        border: 3px solid #c40f39;
    }

    .item-list {
        width: 100%;
        /* overflow: hidden; */
    }

    .pen-list li:nth-child(8)>a>img {
        height: 419px;
    }

    /* 모든 펜들 텍스트 박스 */
    .pen-list-text {
        text-align: left;
        margin: 0 35px;
        align-self: flex-start
    }

    .pen-list-text p {
        font-size: 1.3rem;
        color: rgb(182, 182, 182);
    }

    .pen-list-text h3 {
        font-size: 1.7rem;
    }

    .big-text {
        margin: 10px 35px;
    }

    .big-text h3 {
        line-height: 27px;
    }


    .swiper {
        display: none;
        height: 570px;
    }

    .swiper-wrapper {
        height: 87%;
    }

    .swiper-wrapper>li {
        width: 350px;
    }

    .swiper-slide {
        background-color: #fff;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
    }

    .swiper-slide img {
        width: 100%;
        height: 414px;
        object-fit: cover;
    }
    .swiper-pagination{
        bottom:30px;
    }
    .arrow {
        width: 100%;
        margin-top: 15px;
        border-top: 2px dotted #ccc;
        position: relative;
    }

    .arrowbox {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: -14px;
        left: 0;
    }

    .arrowbox i {
        font-size: 3rem;
    }

    .center-pointer {
        padding: 0 8px;
        background-color: #f1f1f1;
        font-size: 1.6rem;
    }

    /* news */
    #news {
        width: 100%;
        height: 800px;
        border-bottom: 1px solid #ccc;
    }

    .news-all-box{
        width:100%;
        margin:0 auto;
        position: relative;
    }

    .news-all-box h2 {
        font-size: 3rem;
        padding: 60px 0 50px 0;
        letter-spacing: 8px;
        text-align: center;
        text-indent: 8px;
    }

    .news-all-box h2:after {
        content: "";
        width: 117px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }

    .news-box {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .news-box>div {
        position: relative;
        display:flex;
        justify-content: space-evenly;
    }

    #news img {
        width: 45vw;
    }

    #news>div>div>div>a:hover:before {
        content: "";
        width: 40vw;
        background-color: white;
        opacity: 0.3;
        position: absolute;
        left: 0;
    }

    .news-text {
        width: 45vw;
        /* height: 165px */
    }

    .news-text h3 {
        font-size: 1.7rem;
        margin:25px 0 10px 0;
    }

    .news-text p {
        font-size: 1.565rem;
        line-height: 18px;
        margin-bottom: 30px;
        display:none;
    }

    .news-text a {
        font-size: 1.7rem;
        color: #c40f39;
        font-weight: bold;
    }

    .blackrabbit-set p {
        height:90px;
    }

    /* 맨 밑 familysite box */
    #family-box{
        width:100%;
        margin:0 auto;
        position:relative;
    }

    .monami-left, .monami-right{
        font-size:2rem;
        position: absolute;
    }
    .monami-left{
        top:38%;
        left:3%;
    }
    .monami-right{
        top:38%;
        right:3%;
    }

    .family-wrap{
        width:80%;
        height:100px;
        margin:0 auto;
        padding:25px 0;
        overflow: hidden;
        
    }
    .family-wrapbox{
        width:1000%;
    }

    .family-wrapbox li{
        width:4.9%;
        margin-right:5px;
        border:2px solid #ccc;
        transition: all 0.3s ease-in-out;
        float:left;
        display:block;
    }
    .family-wrapbox a>img{
        width:100%
    }

    /* .family-box{
        display:flex;
        align-items: center;
    }
    #family-wrap{
        width:382px;
        height:100px;
        overflow: hidden;
    }

    .monami-family {
        width: 767px;
        height: 100px;        
        display:flex;
        justify-content: space-around;
        align-items: center;
    }


    .monami-family>a{
        width:182px;
    }
    .monami-family img{
        width:100%;
        border:2px solid #ccc;
    } */

    /* .family-box {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .family-box>a{
        width:170px;
    }
    .family-box img {
        width:100%;
        border: 2px solid #ccc;
    }
     */
}

@media (min-width:501px) and (max-width:1399px){
    /* slider */
     #slider {
        width: 100%;
        /* height: 780px; */
        overflow: hidden;
        /* position: relative; */
        padding-top:65px;
    }

    #slider video {
        width: 100%;
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
    }

    /* new arivals */
    #new-allbox {
        width: 100%;
        height: 840px;
    }

    .new {
        width: 100%;
        height: 840px;
        margin: 0 auto;
        position: relative;
        top: 40px;
    }

    .new h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 10px;
        letter-spacing: 8px;
        text-indent: 8px;
    }

    .new h2:after {
        content: "";
        width: 310px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    }

    .new-text {
        margin: 5% 2%;
        text-align: left;
    }

    .new-text>h3 {
        font-size: 2rem;
    }

    .new-text>p {
        font-size: 1.5rem;
        padding-top: 5px;
    }

    .pro_box:hover:after {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

    .pro_box:hover:before {
        content: "";
        width: 16vw;
        height: 40vh;
        background-color: #c40f39;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    /* diary */
    .diarybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left:5%;
    }

    .diary-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/2023diary.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* blackbunny */
    .bunnybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 280px;
        left: 24%;
    }

    .bunny-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/153blackbunny.png) 50% 50%/cover no-repeat;
        position: relative;
    }
    .bunnybox .product-text{
        width:80%;
    }

    /* hey brother */
    .heybrobox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left: 43%;
    }

    .heybro-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/hey-brother.png) 45% 50%/cover no-repeat;
        position: relative;
    }
    .heybrobox .product-text p{
        width:80%;
    }

    /* 153그리퍼 */
    .grifferbox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 280px;
        left: 61.5%;
    }

    .griffer-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/153griffer.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* 럭키박스 */
    .luckybox {
        width: 16vw;
        height: 45vh;
        position: absolute;
        top: 180px;
        left: 80%;
    }

    .lucky-bg {
        width: 16vw;
        height: 40vh;
        display: inline-block;
        background: url(../img/luckyset.png) 50% 50%/cover no-repeat;
        position: relative;
    }
    .luckybox .product-text{
        width:93%;
    }


    /* best product */
    #best-allbox {
        width: 100%;
        height: 937px;
        background-color: #f1f1f1;
    }

    .best-first {
        width: 100%;
        height: 280px;
        margin: 0 auto;
        position: relative;
        /* background: pink; */
    }

    .best-first>h2, .best-first>p {
        text-align: center;
    }

    .best-first>h2 {
        font-size: 3rem;
        padding: 50px 0 30px 0;
        letter-spacing: 8px;
        text-indent: 8px;
    }

    .best-first>h2:after {
        content: "";
        width: 308px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top:35.5%;
        left:50%;
        transform: translateX(-50%);
    }

    .best-first>p {
        font-size: 1.6rem;
    }

    .penname-list {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    .penname-list li {
        width: 150px;
        height: 42px;
        margin: 0 5px;
        text-align: center;
        border: 3px solid #ccc;
        cursor: pointer;
    }

    .penname-list li a {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 39px;
        color: #222;
    }

    .penname-list li a.redtext {
        color: #c40f39;
        font-weight: bold;
    }

    .penname-list li.redline {
        border: 3px solid #c40f39;
    }

    .item-list {
        width: 100%;
        /* overflow: hidden; */
    }

    .pen-list li:nth-child(8)>a>img {
        height: 419px;
    }

    /* 모든 펜들 텍스트 박스 */
    .pen-list-text {
        text-align: left;
        margin: 0 35px;
        align-self: flex-start
    }

    .pen-list-text p {
        font-size: 1.3rem;
        color: rgb(182, 182, 182);
    }

    .pen-list-text h3 {
        font-size: 1.7rem;
    }

    .big-text {
        margin: 10px 35px;
    }

    .big-text h3 {
        line-height: 27px;
    }


    .swiper {
        display: none;
        height: 570px;
    }

    .swiper-wrapper {
        height: 87%;
    }

    .swiper-wrapper>li {
        width: 350px;
    }

    .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        background-color: #fff;
    }

    .swiper-slide img {
        width: 100%;
        height: 414px;
    }

    .arrow {
        width: 100%;
        margin-top: 40px;
        border-top: 2px dotted #ccc;
        position: relative;
    }

    .arrowbox {
        width: 450px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: -14px;
        left: 30%;
    }

    .arrowbox i {
        font-size: 3rem;
    }

    .center-pointer {
        padding: 0 8px;
        background-color: #f1f1f1;
        font-size: 1.6rem;
    }

    /* news */
    #news {
        width: 100%;
        height: 937px;
        border-bottom: 1px solid #ccc;
    }

    .news-all-box{
        width:100%;
        height:937px;
        margin:0 auto;
        position: relative;
    }

    .news-all-box h2 {
        font-size: 3rem;
        padding: 120px;
        letter-spacing: 8px;
        text-align: center;
        text-indent: 8px;
    }

    .news-all-box h2:after {
        content: "";
        width: 115px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 175px;
        left:50%;
        transform: translateX(-50%);
    }

    .news-box {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .news-box>div {
        position: relative;
    }

    #news img {
        width: 30vw;
    }

    #news>div>div>div>a:hover:before {
        content: "";
        width: 30vw;
        height: 299.77px;
        background-color: white;
        opacity: 0.3;
        position: absolute;
        left: 0;
    }

    .news-text {
        width: 30vw;
        height: 165px
    }

    .news-text h3 {
        font-size: 1.7rem;
        margin: 15px 0;
    }

    .news-text p {
        font-size: 1.565rem;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .news-text a {
        font-size: 1.7rem;
        color: #c40f39;
        font-weight: bold;
    }

    .blackrabbit-set p {
        height:90px;
    }

    #family-box {
        width: 100%;
        height: 200px;
    }
    #family-box i{
        display:none;
    }
    
    .family-wrapbox{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .family-wrap img {
        width:250px;
        border: 2px solid #ccc;
    }
}

@media (min-width:1400px) {
    html{
        overflow: hidden;
    }
    html,body{
        display:block;
        width:100%;
        height:100%;
    }
    
    /* slider */
    #slider {
        width: 100%;
        height: 937px;
        overflow: hidden;
        position: relative;
    }

    #slider video {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* new arivals */
    #new-allbox {
        width: 100%;
        height: 937px;
    }

    .new {
        width: 1400px;
        height: 840px;
        margin: 0 auto;
        position: relative;
        top: 50px;
    }

    .new h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 45px;
        letter-spacing: 8px;
    }

    .new h2:after {
        content: "";
        width: 310px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 100px;
        left: 542px;
    }

    .new-text {
        margin: 15px 15px;
        text-align: left;
    }

    .new-text>h3 {
        font-size: 2rem;
    }

    .new-text>p {
        font-size: 1.5rem;
        padding-top: 5px;
    }

    .pro_box:hover:after {
        content: '+';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        color: #fff;
        cursor: pointer;
    }

    .pro_box:hover:before {
        content: "";
        width: 210px;
        height: 300px;
        background-color: #c40f39;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    /* diary */
    .diarybox {
        width: 210px;
        height: 400px;
        position: absolute;
        top: 230px;
        left: 100px;
    }

    .diary-bg {
        width: 210px;
        height: 300px;
        display: inline-block;
        background: url(../img/2023diary.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* blackbunny */
    .bunnybox {
        width: 210px;
        height: 400px;
        position: absolute;
        top: 330px;
        left: 350px;
    }

    .bunny-bg {
        width: 210px;
        height: 300px;
        display: inline-block;
        background: url(../img/153blackbunny.png) 50% 50%/cover no-repeat;
        position: relative;
    }
    
    .bunnybox .product-text{
        width:150px;
    }

    /* hey brother */
    .heybrobox {
        width: 210px;
        height: 400px;
        position: absolute;
        top: 230px;
        left: 600px;
    }

    .heybro-bg {
        width: 210px;
        height: 300px;
        display: inline-block;
        background: url(../img/hey-brother.png) 45% 50%/cover no-repeat;
        position: relative;
    }

    /* 153그리퍼 */
    .grifferbox {
        width: 210px;
        height: 400px;
        position: absolute;
        top: 330px;
        left: 850px;
    }

    .griffer-bg {
        width: 210px;
        height: 300px;
        display: inline-block;
        background: url(../img/153griffer.png) 50% 50%/cover no-repeat;
        position: relative;
    }

    /* 럭키박스 */
    .luckybox {
        width: 210px;
        height: 400px;
        position: absolute;
        top: 230px;
        left: 1100px;
    }

    .lucky-bg {
        width: 210px;
        height: 300px;
        display: inline-block;
        background: url(../img/luckyset.png) 50% 50%/cover no-repeat;
        position: relative;
    }


    /* best product */
    #best-allbox {
        width: 100%;
        height: 937px;
        background-color: #f1f1f1;
    }

    .best-first {
        width: 1400px;
        height: 280px;
        margin: 0 auto;
        position: relative;
    }

    .best-first>h2,
    .best-first>p {
        text-align: center;
    }

    .best-first>h2 {
        font-size: 3rem;
        padding: 35px;
        letter-spacing: 8px;
    }

    .best-first>h2:after {
        content: "";
        width: 310px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 90px;
        left: 541px;
    }

    .best-first>p {
        font-size: 1.6rem;
    }

    .penname-list {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    .penname-list li {
        width: 150px;
        height: 42px;
        margin: 0 5px;
        text-align: center;
        border: 3px solid #ccc;
        cursor: pointer;
    }

    .penname-list li a {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 39px;
        color: #222;
    }

    .penname-list li a.redtext {
        color: #c40f39;
        font-weight: bold;
    }

    .penname-list li.redline {
        border: 3px solid #c40f39;
    }

    .item-list {
        width: 100%;
        /* overflow: hidden; */
    }

    .pen-list li:nth-child(8)>a>img {
        height: 419px;
    }

    /* 모든 펜들 텍스트 박스 */
    .pen-list-text {
        text-align: left;
        margin: 0 35px;
        align-self: flex-start
    }

    .pen-list-text p {
        font-size: 1.3rem;
        color: rgb(182, 182, 182);
    }

    .pen-list-text h3 {
        font-size: 1.7rem;
    }

    .big-text {
        margin: 10px 35px;
    }

    .big-text h3 {
        line-height: 27px;
    }



    .swiper {
        display: none;
        height: 570px;
    }

    .swiper-wrapper {
        height: 87%;
    }

    .swiper-wrapper>li {
        width: 350px;
    }

    .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        background-color: #fff;
    }

    .swiper-slide img {
        width: 100%;
        height: 414px;
    }

    .arrow {
        width: 100%;
        margin-top: 40px;
        border-top: 2px dotted #ccc;
        position: relative;
    }

    .arrowbox {
        width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: -14px;
        left: 35%;
    }

    .arrowbox i {
        font-size: 3rem;
    }

    .center-pointer {
        padding: 0 8px;
        background-color: #f1f1f1;
        font-size: 1.6rem;
    }

    /* news */
    #news {
        width: 100%;
        height: 937px;
        border-bottom: 1px solid #ccc;
    }

    .news-all-box{
        width:1400px;
        height:937px;
        margin:0 auto;
        position: relative;
    }

    .news-all-box h2 {
        font-size: 3rem;
        padding: 120px;
        letter-spacing: 8px;
        text-align: center;
    }

    .news-all-box h2:after {
        content: "";
        width: 115px;
        height: 3px;
        background-color: #c40f39;
        display: block;
        position: absolute;
        top: 175px;
        left: 640px;
    }

    .news-box {
        width: 1400px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }

    .news-box>div {
        position: relative;
    }

    #news img {
        width: 450px;
    }

    #news>div>div>div>a:hover:before {
        content: "";
        width: 450px;
        height: 299.77px;
        background-color: white;
        opacity: 0.3;
        position: absolute;
        left: 0;
    }

    .news-text {
        width: 450px;
        height: 165px
    }

    .news-text h3 {
        font-size: 2rem;
        margin: 15px 0;
    }

    .news-text p {
        font-size: 1.565rem;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .news-text a {
        font-size: 1.7rem;
        color: #c40f39;
        font-weight: bold;
    }

    .blackrabbit-set p {
        margin-bottom: 48px;
    }

    #family-box {
        width: 100%;
        height: 200px;
    }
    #family-box i{
        display:none;
    }

    .family-wrapbox{
        width: 1400px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .family-wrap img {
        border: 2px solid #ccc;
    }
}